@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.text-primary {
  color: #326dee;
}

.text-bg-primary {
  background-color: #326dee;
}

.text-secondary {
  color: #1ac886;
}

.text-bg-secondary {
  background-color: #1ac886;
}

.text-error {
  color: #d32752;
}

.text-bg-error {
  background-color: #d32752;
}

.text-info {
  color: #f6c31c;
}

.text-bg-info {
  background-color: #f6c31c;
}

.text-blue {
  color: #1919e6;
}

.text-bg-blue {
  background-color: #1919e6;
}

.text-red {
  color: #e61919;
}

.text-bg-red {
  background-color: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.text-bg-yellow {
  background-color: #e6e619;
}

.text-green {
  color: #19e635;
}

.text-bg-green {
  background-color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.text-bg-orange {
  background-color: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.text-bg-purple {
  background-color: #9900ff;
}

.text-gray {
  color: #808080;
}

.text-bg-gray {
  background-color: #808080;
}

.text-black {
  color: black;
}

.text-bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-bg-white {
  background-color: white;
}

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #326dee;
}

img {
  max-width: 100%;
}

h1 a {
  color: red;
}